/**
 * 试卷相关样式
 */
.big-filter{padding:10px 20px;margin-bottom:4px; background-color:#447f05;}
.grade-filter{padding:10px 15px;border-top:1px solid #169bef;background-color:#85d034;}
.grade-filter .pull-right a{line-height:34px;color:#fff;margin:0 3px;}
.list{margin:10px 0;}
.ads-t, .ads-b{margin:5px 0;}

