/**
 * 试题相关样式
 */
.site-question ul{padding:0;margin:0;list-style:none;}

.big-filter{padding:10px 20px;margin-bottom:4px; background-color:#447f05;}
.grade-filter{padding:10px 15px;border-top:1px solid #169bef;background-color:#85d034;}
.grade-filter .pull-right a{display:inline-block;line-height:34px;color:#fff;padding:0 5px;margin:0 3px;}
.grade-filter .pull-right a.active{color:#85d034;background-color:#fff;border-radius:3px;}


.list{margin:10px 0;}
.list .tree,
.list .cnt{border:1px solid #dfdfdf;}
.list .tree{width:215px;padding:15px 0;overflow:hidden;}
.list .cnt{width:770px;min-height:350px;padding:15px 10px;}
.list .cnt .title{border-bottom:1px solid #dfdfdf;}
.list .cnt .list-wrap{margin:20px 0 25px;}
.list-wrap li{padding:0 15px;margin:8px 0;border-bottom:1px dashed #dfdfdf;}
.list-wrap li h4{font-size:1.25em;}
.list-wrap li .foot{margin-top:15px;font-size:0.85em;color:#888;}

.ads-t, .ads-b{margin:5px 0;}


.main-filter .table{background-color:#e6fbe0;}
.main-filter .table,
.main-filter .table th,
.main-filter .table td{border-color:#6f6f6f;}
.main-filter .table th{color:#015a03;background-color:#92d947;text-align:center;}
.main-filter a{color:#869576;display:inline-block;padding:0 8px;}
.main-filter a.active{color:#015a03;background-color:#92d947;}

.question-filter .well{margin-bottom:10px;}
.question-filter .well p{border-bottom:#ccc 1px dashed;padding-bottom:10px;}
.question-filter .well p:last-child{margin-bottom:0;border:none;padding:0;}
.question-filter .well p strong{margin-right:15px;color:#5f5d5d;}
.question-filter .well p a{color:#000;display:inline-block;padding:0 8px;}
.question-filter .well p a.active{color:#fff;background-color:#70b725;}
